@charset 'utf-8';
/*主页*/
*, *:before, *:after {
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
		box-sizing: border-box;
	}
	body {
		font-size: 13px;
		font-family: "Microsoft Yahei";
	}
	body:after {
		content: '';
		display: none;
	}
	img {
		border: none;
	}
	.clearfix {
		*zoom: 1;
	}
	.clearfix:after {
		content: '';
		display: table;
		clear: both;
		line-height: 0;
	}
/*列表页*/
.information_list_content_trap{
	width:100%;
	background:#F7F7F7;
}
.information_list_box{
	width:1200px;
	background:#FFFFFF;
	min-height:900px;
	margin:auto;
	padding:50px 30px;
	overflow:hidden;
}
.information_list_content{
	min-height:500px;
}
.information_slider{
	width:210px;
	min-height:500px;
	float:left;
}
.slider_title{
	width:100%;
	height:60px;
	background:#f44336;
	font-size:24px;
	color:#fff;
	text-align: center;
}
.slider_title>p{
	line-height:60px;
}
.information_slider>ul{
	background:#FCFBF7;
}
.information_slider>ul>li{
	width:100%;
	height:47px;
	line-height:50px;
	background:#EAEAEA;
	margin-bottom:2px;
	background:url(../images/511102607714115879.jpg);
}
#active{
	background:#FFFFFF;
}
.information_slider>ul>li>a{
	display: block;
	font-size:14px;
	text-indent: 20px;
	color:#50080d;
}
/*若不加information_slider，会改变主菜单栏的样式*/
.information_slider .sub-menu .current-menu-item {background:none;}
.information_slider .sub-menu li ul li {    
	width: 210px;
    display: none;
    height: 39px;
    border-bottom: 1px solid #fff;
    line-height: 39px;
}
.information_slider .sub-menu li ul li a { text-align:center;display: block;}
.information_slider .sub-menu li.menu-item-has-children {position:relative;}
.information_slider .sub-menu li.menu-item-has-children:hover ul li{display:block;}
.information_slider .third-menu {
	position: absolute;
    left: 211px;
    top: 0px;
}
.information_slider .sub-menu li.menu-item-has-children:hover ul li{
    background: #EAEAEA;
}



.information_list{
	width:860px;
	min-height:500px;
	float:right;
}
.breadcrumb{
	width:100%;
	height:20px;
	font-size:14px;
}
.breadcrumb a{
	font-size:14px;
	color:#000;
}
.breadcrumb a:hover{
	color:#00A4FF;
}
.breadcrumb_nav{
	height:40px;
	width:100%;
	font-size:24px;
	line-height:60px;
	
}
.list{
	margin-top:30px;
	height:100px;
	border-bottom:1px solid #f44336;
}
.date1{
	width:60px;
	height:60px;
	float:left;
}
.date>h3{
	color:#f44336;
	text-align: center;
}
.date>p{
	font-size:14px;
	float:left;
	color:#7c7c7c;
}
.list_content{
	width:780px;
	height:90px;
	float:right;
}
.list_content>h3{
	min-height:30px;
}
.list_content>h3>a{
	display:block;
	line-height:30px;
	font-size:15px;
	color:#333333;
}
.list_content>h3>a:hover{
	color:#00A4FF;
}
.list_content>p{
	font-size:10px;
	color:#a5a5a5;
}
.page-nav{
	height:30px;
	width:auto;
	padding-top:35px;
}
.page-nav>a{
	font-size:12px;
	display:block;
	border:1px solid #c5c5c5;
	color:#4e4e4e;
	float:left;
	min-width:45px;
	height:30px;
	text-align:center;
	line-height:30px;
	border-radius:5px;
	margin-right:10px;
	overflow:hidden;
}
.page-nav>a{
	display:block;
	color:#4e4e4e;
}
.page-nav>a:hover{
	background:#f44336;
	border-color:#f44336;
	color:#fff;
}
.page-nav>a.current{
	background:#f44336;
	border-color:#f44336;
	color:#fff;
}
.page-nav>span{
	display:block;
	text-align:center;
	font-size:10px;
	width:120px;
	height:30px;
	color:#c0c0c0;
	border:1px solid #c5c5c5;
	float:left;
	line-height:30px;
}
/*文章页*/
.aricle_trap{
	width:100%;
	background:#F7F7F7;
}
.aricle_container{
	min-height:800px;
	width:1100px;
	margin:auto;
	background:#FFFFFF;	
}
.aricle_container>h3{
	font-size:18px;
	font-weight:normal;
	text-align: center;
	height:35px;
	line-height:30px;
	border-bottom:2px solid #00A4FF;
	margin:15px 0;
}
.aricle_detail{
	text-align:center;
	height:20px;
	line-height:16px;
	font-size:14px;
	padding-top:10px;
	color:#a5a5a5;
}
.aricle_content{
	margin-top:20px;
	min-height:700px;
	font-size:16px;
	padding:0 5px;
}
.information_slider>ul>li.current-cat{
	background:#EAEAE;
	background:url(images/11102607714115879.jpg);
}
.cat-item-none{
	display: none;
}
.showSeacher{
	position: relative;
	width: 154px;
	height: 60px;
	background-color: #f44336;
	top: 24px;
	left: -10px;
	margin-left:10px;
}
.showtxt{
	position: relative;;
	width: 120px;
	height: 50px;
	top: 11px;
	left: 26px;
}